.topbar-social-icon li svg {
  font-size: 1.6rem;
  margin-right: 1.5rem;
  color: var(--dark);
}
.topbar-info li {
  font-size: 1.4rem;
  margin-right: 1.5rem;
  color: var(--dark);
}
.sign-in a {
  font-size: 1.6rem;
  margin-left: 1rem;
}
.main-nav a {
  font-size: 1.5rem;
  margin-right: 2rem;
  text-transform: uppercase;
  color: var(--light);
  transition: 0.2s ease;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.main-nav a:hover {
  color: var(--red);
}
.logo {
  height: 8rem;
}

@media only screen and (min-width: 425px) {
  .nav-sm {
    width: 40rem;
  }
  img.ad-nav {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  img.logo {
    display: block;
    margin: auto;
  }
}
@media only screen and (min-width: 768px) {
  .nav-sm {
    width: 76rem;
  }
  img.ad-nav {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 976px) {
  img.ad-nav {
    width: 60rem;
    display: block;
    margin: 0 auto;
  }
}
