@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none !important;
  display: inline-block;
}
ul {
  list-style: none;
  padding-left: 0 !important;
}

.category a {
  background: var(--red);
  padding: 0.2rem 0.5rem;
  color: #fff !important;
  font-size: 1.3rem;
  font-weight: 600;
  display: inline-block;
}
.date {
  font-size: 1.4rem;
  color: var(--light);
  margin-left: 2rem;
}
.comment {
  color: #fff;
  font-size: 1.4rem;
  margin-left: 2rem;
}
/* color */

:root {
  --light: #fff;
  --dark: #2c3e50;
  --yellow: #fbbd0a;
  --red: #d32f36;
  --gray: #f4f6f6;
}
