.footer-logo {
  width: 20rem;
}
.footer-social-icon svg {
  font-size: 2.5rem;
  color: #fff;
  margin-right: 2rem;
}
footer p {
  font-size: 1.5rem;
}
.editor {
  color: #ffcc00;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}
.editor:hover {
  color: #e6b800;
}
